body {
  background-color: #1c2a4d;
  font-family: "Roboto", sans-serif;
  color: #ecdba1;
}

.containerCardNos {
  margin-top: 7%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cardNosotros {
  position: relative;
  width: 250px;
  height: 350px;
  perspective: 1000px;
  background-color: #ecdba1;
  border-radius: 10px;
  border: 2px solid #1c2a4d;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardNosotros img {
  width: 70%;
  height: auto;
  border-radius: 50%;
}

.cardNosotros .contenidoCardNos {
  text-align: center;
  padding: 20px;
}

.cardNosotros h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #e8652d;
}

.cardNosotros p {
  font-size: 16px;
  margin-bottom: 20px;
  color: #e8652d;
}

@media (max-width: 1199px) {
  .cardNosotros {
    width: 200px;
  }
}

@media (max-width: 990px) {
  .cardNosotros {
    width: 150px;
  }
}

@media (max-width: 767px) {
  .cardNosotros {
    width: 100%;
    margin: 10px 0;
  }
}
