@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Tilt+Neon&display=swap');

/* .bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 00;
    font-style: normal;
  }
   */
body{
    background-color: rgba(28,42,77,255);
    font-family: "Tilt Neon", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "XROT" 0,
    "YROT" 0;
}
.imgAmdin{
  width: 150px;
  height: 150px;
  object-fit: cover;
}
.tituloForm, .labels{
    color: #ecdba1;
}
.inputs{
    border-radius: 0;
    border-color: #ecdba1;
    background: rgba(28,42,77,255);
    color: #ecdba1;
}
.inputs::placeholder{
    color: #ecdba1;
}
.agregarBoton{
    background-color: #e8652d;
}
.agregarBoton:hover, .agregarBoton:focus{
    font-size: 18px;
    transition: background-color 0.3s, color 0.9s;
    background-color: #e8652d;
}
@media all and (max-width: 575px){
    .filas{
        margin: 10px 0 25px 0;
    }
    .contenedor-filas > .filas:first-child{
        display: none;
    }
    .inputs{
        padding: 15px;
    }
}
@media all and (min-width: 576px) and (max-width: 767px){
    .contenedor-filas > .filas:first-child{
        background-color: #95CD41
    }
    .inputs{
        padding: 15px;
    }
}
@media all and (min-width: 768px) and (max-width: 991px){
    .contenedor-filas > .filas:first-child{
        background-color: #95CD41
    }
    .filas > .columna:nth-child(6){
        display: flex;
    }
    .inputs{
        padding: 15px;
    }
}
@media all and (min-width: 992px) and (max-width: 1999px){
    .contenedor-filas > .filas:first-child{
        background-color: #95CD41
    }
    .inputs{
        padding: 15px;
    }
}
@media all and (min-width: 1200px) and (max-width: 1400){
    .contenedor-filas > .filas:first-child{
        background-color: #95CD41
    }
    .inputs{
        padding: 15px;
    }
}
