#table1{
    background: #e8652d !important;
}
.table th {
    background: #e8652d !important;
    color: white;
}
.table td {
    background: #e8652d;
    color: white;
}
#th1{
    width:60%;
}
#th2{
    width:12%;
}
#th3{
    width:10%;
}
#th4{
    width:16%;
}