@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Tilt+Neon&display=swap");

.navbar,
footer {
  border-bottom: 1px #ecdba1 solid;
  background-color: #e8652d;
}

#inicioBoton,
#registroBoton,
#adminBoton,
#logoutBoton,
#loginBoton,
#carritoBoton,
#pedidosBoton {
  color: #1c2a4d;
  font-weight: 600;
}

.nav-link:hover,
.nav-link:focus {
  background-color: #ecdba1;
  border-radius: 0;
  color: #e8652d;
  transition: background-color 0.3s, color 0.3s;
}

.iconosAtencionAlCliente {
  color: #4b7b7b;
  font-size: 20px;
}

.iconosRedes {
  color: white;
  font-size: 35px;
}

footer img {
  width: 90px;
  height: 90px;
}

.textoFooter {
  font-size: 19px;
  margin-top: 45px;
}


@media (max-width: 576px) {
  .textoFooter {
    font-size: 14px;
    margin-top: 10px;
  }

  .iconosAtencionAlCliente {
    font-size: 16px;
  }

  .iconosRedes {
    font-size: 25px;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .textoFooter {
    font-size: 16px;
    margin-top: 20px;
  }

  .iconosAtencionAlCliente {
    font-size: 18px;
  }

  .iconosRedes {
    font-size: 30px;
  }
}


@media (min-width: 769px) and (max-width: 1024px) {
  .textoFooter {
    font-size: 18px;
    margin-top: 25px;
  }

  .iconosAtencionAlCliente {
    font-size: 18px;
  }

  .iconosRedes {
    font-size: 30px;
  }
}


@media (min-width: 1025px) and (max-width: 1200px) {
  .textoFooter {
    font-size: 19px;
    margin-top: 30px;
  }

  .iconosAtencionAlCliente {
    font-size: 20px;
  }

  .iconosRedes {
    font-size: 35px;
  }
}

