@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Tilt+Neon&display=swap");

.navbar,
footer {
  border-bottom: 1px #ecdba1 solid;
  background-color: #e8652d;
}
#inicioBoton,
#registroBoton,
#adminBoton,
#logoutBoton,
#loginBoton,
#carritoBoton,
#pedidosBoton {
  color: #1c2a4d;
  font-weight: 600;
}
.nav-link:hover,
.nav-link:focus {
  background-color: #ecdba1;
  border-radius: 0;
  color: #e8652d;
  transition: background-color 0.3s, color 0.3s;
}
.iconosAtencionAlCliente{
  color: #4b7b7b;
  font-size: 20px;
}
.iconosRedes{
  color: white;
  font-size: 35px;
}
footer img{
  width: 90px;
  height: 90px;
 
}
.textoFooter{
  font-size: 19px;
  margin-top: 45px;
}
@media all and (max-width: 575px) {
  .logoMenu {
    width: 90px;
    height: 70px;
  }
  #inicioBoton,#registroBoton,#adminBoton, #carritoBoton,#logoutBoton,#loginBoton, #pedidosBoton{
    font-size: 20px;
    border-bottom: 1px #ecdba1 solid;
    text-decoration: none ;
  }
  .nav{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .logoMenu {
    width: 70px;
    height: 65px;
  }
  #adminBoton{
    display: flex;
    align-items: center;
  }
  .flechaDropdown{
    --bs-btn-bg: #e8652d !important;
    --bs-btn-border-color: #e8652d !important;
    --bs-btn-color: #1c2a4d !important;   
    --bs-btn-font-size: 1.5rem !important;
    --bs-btn-active-bg: #e8652da4 !important;
    --bs-btn-active-border-color: #e8652da4 !important;
    --bs-btn-disabled-bg: #e8652da4 !important;
    --bs-btn-disabled-border-color: #e8652da4 !important;
    --bs-btn-hover-bg: #e8652da4 !important;
  }
  .desplegable{
    --bs-dropdown-bg: #e8652d !important;
  }
  .dropdown-item{
    color: #1c2a4d !important;
    font-size: 20px;
  }
}
@media all and (min-width: 576px) and (max-width: 767px) {
  .logoMenu {
    width: 75px;
  }
  #inicioBoton,#registroBoton,#adminBoton, #carritoBoton,#logoutBoton,#loginBoton, #pedidosBoton{
    font-size: 20px;
    border-bottom: 1px #ecdba1 solid;
    text-decoration: none ;
  }
  .nav{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #adminBoton{
    display: flex;
    align-items: center;
  }
  .flechaDropdown{
    --bs-btn-bg: #e8652d !important;
    --bs-btn-border-color: #e8652d !important;
    --bs-btn-color: #1c2a4d !important;   
    --bs-btn-font-size: 1.5rem !important;
    --bs-btn-active-bg: #e8652da4 !important;
    --bs-btn-active-border-color: #e8652da4 !important;
    --bs-btn-disabled-bg: #e8652da4 !important;
    --bs-btn-disabled-border-color: #e8652da4 !important;
    --bs-btn-hover-bg: #e8652da4 !important;
  }
  .desplegable{
    --bs-dropdown-bg: #e8652d !important;
  }
  .dropdown-item{
    color: #1c2a4d !important;
    font-size: 20px;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .logoMenu {
    width: 80px;
  }
  #inicioBoton,#registroBoton,#adminBoton, #carritoBoton,#logoutBoton,#loginBoton, #pedidosBoton{
    font-size: 20px;
    border-bottom: 1px #ecdba1 solid;
    text-decoration: none;
  }
  .logoMenu {
    height: 85px;
  }
  .navbar{
    align-items: center;
  }
  .navContBotones{
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .botonesIzq,.botonesDer{
    display: flex;
    gap: 30px;
  } 
  .flechaDropdown{
    --bs-btn-bg: #e8652d !important;
    --bs-btn-border-color: #e8652d !important;
    --bs-btn-color: #1c2a4d !important;   
    --bs-btn-font-size: 1.5rem !important;
    --bs-btn-active-bg: #e8652da4 !important;
    --bs-btn-active-border-color: #e8652da4 !important;
    --bs-btn-hover-bg: #e8652da4 !important;
  }
  .flechaDropdown:hover{
    background-color: #e8652da4!important;
  }
  #adminBoton{
    display: flex;
    align-items: center;
  }
  .desplegable{
    --bs-dropdown-bg: #e8652d !important;
  }
  .dropdown-item{
    color: #1c2a4d !important;
    font-size: 20px;
  }
}
@media all and (min-width: 992px) and (max-width: 1999px) {
  .logoMenu {
    width: 90px;
  }
  .logoMenu {
    height: 85px;
  }
  #inicioBoton,#registroBoton,#adminBoton, #carritoBoton,#logoutBoton,#loginBoton, #pedidosBoton{
    font-size: 25px;
    border-bottom: 1px #ecdba1 solid;
    text-decoration: none ; 
  }
  .navContBotones{
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .botonesIzq,.botonesDer{
    display: flex;
    gap: 30px;
  }
  .flechaDropdown{
    --bs-btn-bg: #e8652d !important;
    --bs-btn-border-color: #e8652d !important;
    --bs-btn-color: #1c2a4d !important;   
    --bs-btn-font-size: 1.5rem !important;
    --bs-btn-active-bg: #e8652da4 !important;
    --bs-btn-active-border-color: #e8652da4 !important;
    --bs-btn-disabled-bg: #e8652da4 !important;
    --bs-btn-disabled-border-color: #e8652da4 !important;
    --bs-btn-hover-bg: #e8652da4 !important;
  }
  .flechaDropdown:hover{
    background-color: #e8652da4!important;
  }
  #adminBoton{
    display: flex;
    align-items: center;
  }
  .desplegable{
    --bs-dropdown-bg: #e8652d !important;
  }
  .dropdown-item{
    color: #1c2a4d !important;
    font-size: 20px;
  }
}
@media all and (min-width: 1200px) and (max-width: 1400) {
  .logoMenu {
    width: 90px;
  }
  .logoMenu {
    height: 85px;
  }
  #inicioBoton,#registroBoton,#adminBoton, #carritoBoton,#logoutBoton,#loginBoton, #pedidosBoton{
    font-size: 20px;
    border-bottom: 1px #ecdba1 solid;
    text-decoration: none ; 
  }
  .navContBotones{
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .botonesIzq,.botonesDer{
    display: flex;
    gap: 30px;
  } 
  .flechaDropdown{
    --bs-btn-bg: #e8652d !important;
    --bs-btn-border-color: #e8652d !important;
    --bs-btn-color: #1c2a4d !important;   
    --bs-btn-font-size: 1.5rem !important;
    --bs-btn-active-bg: #e8652da4 !important;
    --bs-btn-active-border-color: #e8652da4 !important;
    --bs-btn-hover-bg: #e8652da4 !important;
  }
  .flechaDropdown:hover{
    background-color: #e8652da4!important;
  }
  #adminBoton{
    display: flex;
    align-items: center;
  }
  .desplegable{
    --bs-dropdown-bg: #e8652d !important;
  }
  .dropdown-item{
    color: #1c2a4d !important;
    font-size: 20px;
  }
}
